#top{
   background-color: rgb(175, 33, 33);
}
#s :hover{
    border:solid;
    
}
a{
    border-style: double;
}
body{
    background-color: rgb(184, 194, 184);
    background-image:url("../ress/sarra.jpg");
    background-repeat:no-repeat ;
    background-size:cover;

}
#sa:hover{
    border: dashed red;

}
